.boton-1 {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: none;
    background: rgb(24, 29, 36);
    color: var(--white-color);
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    font-size: 16px;
    transition: transform 0.5s ease;
}

.boton-1:hover {
    transform: translateY(-5px);
}

.boton-1:active {
    transform: scale(0.9);
}

@media (min-width: 768px) {
    .boton-1 {
        padding: 20px 80px;
    }
}
