.boton-1,
.boton-2 {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: none;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
}

.boton-1 {
    background: var(--darkblue-color);
    color: var(--white-color);
    padding: 15px 35px;
    font-size: 14px;
}

.boton-2 {
    background: var(--yellow-color);
    color: var(--darkblue-color);
    width: 240px;
    height: 50px;
    font-size: 14px;
}

.boton-1:hover {
    transform: translateY(-5px);
}

.boton-1:active {
    transform: scale(0.9);
}

@media (min-width: 768px) {
    .boton-1 {
        font-size: 16px;
        padding: 20px 80px;
    }
}

@media (min-width: 1200px) {
    .boton-2 {
        width: 290px;
        font-size: 16px;
    }
}

@media (min-width: 1700px) {
    .boton-2 {
        width: 330px;
        height: 60px;
    }
}
