@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.9);
    }
}

.cargando-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
}

.cargando-container img {
    position: absolute;
    filter: drop-shadow(0px 0px 80px var(--white-color));
    width: 40px;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards infinite;
}

.cargando-container img:nth-of-type(1) {
    margin-bottom: 309px;
    animation-delay: 0s;
}

.cargando-container img:nth-of-type(2) {
    margin-bottom: 241px;
    animation-delay: 0.4s;
}

.cargando-container img:nth-of-type(3) {
    margin-bottom: 161px;
    animation-delay: 0.8s;
}

.cargando-container img:nth-of-type(4) {
    margin-bottom: 73px;
    animation-delay: 1.2s;
}

.cargando-container img:nth-of-type(5) {
    margin-bottom: 0px;
    animation-delay: 1.6s;
}

.cargando {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: calc(100vh - 249px);
    padding-top: 80px;
    width: 100vw;
    overflow: hidden;
}

@media (min-width: 768px) {
    .cargando {
        min-height: calc(100vh - 188px);
    }
}

@media (min-width: 1200px) {
    .cargando {
        min-height: calc(100vh - 177px);
    }
}

@media (min-width: 1700px) {
    .cargando {
        min-height: calc(100vh - 200px);
    }
}
