.error-carga {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: start;
    color: var(--darkblue-color);
}

.error-carga h3 {
    font-size: 24px;
}
