.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    padding: 20px 0;
    gap: 20px;
}

.footer-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.redes-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.redes-footer a {
    color: var(--darkblue-color);
    letter-spacing: 2px;
    font-size: 16px;
}

.logo-links-footer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 28px;
}

.logo-footer img {
    cursor: pointer;
    width: 130px;
}

.links-footer ul {
    list-style: none;
}

.links-footer ul li {
    font-size: 16px;
}

.links-footer a,
.utils-footer a {
    text-decoration: none;
    color: var(--darkblue-color);
    font-size: 16px;
}

.utils-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.utils-footer p {
    color: var(--darkblue-color);
    font-size: 16px;
}

@media (min-width: 768px) {
    .footer {
        gap: 0px;
    }

    .footer-contenido {
        flex-direction: row-reverse;
        align-items: start;
        justify-content: space-between;
        width: 637px;
        gap: 0px;
    }

    .utils-footer {
        justify-content: end;
        width: 637px;
    }
}

@media (min-width: 1200px) {
    .footer {
        padding: 25px 0;
    }

    .footer-contenido,
    .utils-footer {
        width: 947px;
    }

    .redes-footer {
        gap: 40px;
    }

    .logo-links-footer {
        gap: 60px;
    }
}

@media (min-width: 1700px) {
    .footer-contenido,
    .utils-footer {
        width: 1266px;
    }

    .logo-footer img {
        width: 155px;
    }

    .links-footer ul li {
        font-size: 18px;
    }
}
