.stack {
    position: sticky;
    top: var(--navbar-height, 0px);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.stack + .stack {
    z-index: 2;
}
.stack + .stack + .stack {
    z-index: 3;
}
