:root {
    --darkblue-color: #030326;
    --dark-color: #181d24;
    --white-color: #f8f4ec;
    --white-color-2: rgba(248, 244, 236, 0.9);
    --yellow-color: #fdca2f;
    --orange-color: #fa4b1a;
    --gren-color: #00946a;
    --blue-color: #4f83cb;
    --purple-color: #6d60c9;
    --shadow-color: #0000004d;
}
