.form {
    color: var(--white-color);
    padding-bottom: 60px;
}

.dobleInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dobleInput input {
    width: 165px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.inputContainer select,
.inputContainer input {
    padding-left: 10px;
    padding-right: 10px;
}

.inputContainer label {
    margin-bottom: 10px;
    margin-left: 2px;
    font-size: 14px;
}

.phoneContainer {
    width: 100%;
    margin-bottom: 15px;
}

.phoneButton {
    border-radius: 50px 0 0 50px;
    background: var(--white-color);
    border: none;
    padding-left: 10px;
}

.input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Futura-Medium', sans-serif;
    border-radius: 50px;
    padding: 4px 0;
    margin-bottom: 15px;
    background-color: var(--white-color);
    color: var(--darkblue-color);
    border: none;
    font-size: 16px;
    resize: none;
    padding-left: 50px;
}

.input:focus {
    outline: none;
}

.labelError {
    color: red;
}

.contentEnvio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.mensajeErrorGeneral {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

.mensajeErrorGeneral p {
    position: absolute;
    z-index: 1;
    color: var(--white-color);
    margin-top: 5px;
}

@media (min-width: 1200px) {
    .dobleInput input {
        width: 300px;
    }

    .dobleInput2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .dobleInput2 input {
        width: 243px;
    }
}

@media (min-width: 1400px) {
    .input {
        padding: 5px 0;
    }
}

@media (min-width: 1700px) {
    .inputContainer label {
        font-size: 16px;
    }

    .input {
        font-size: 18px;
        height: 38px;
    }

    .dobleInput input {
        width: 340px;
    }

    .dobleInput2 input {
        width: 283px;
    }
}
