.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 80px;
    gap: 20px;
}

.sectionContainer header h1 {
    color: var(--darkblue-color);
    font-size: 28px;
    width: 325px;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-bottom: 40px;
    width: 325px;
    gap: 20px;
}

.sectionContenido p {
    color: var(--darkblue-color);
    font-size: 16px;
}

.sectionContenido a {
    text-decoration: none;
    color: var(--orange-color);
    font-size: 16px;
}

@media (min-width: 576px) {
    .sectionContainer header h1,
    .sectionContenido {
        width: 550px;
    }
}

@media (min-width: 768px) {
    .sectionContainer header h1,
    .sectionContenido {
        width: 700px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding-top: 120px;
        padding-bottom: 100px;
    }

    .sectionContainer header h1 {
        font-size: 42px;
        width: 1060px;
    }

    .sectionContenido {
        width: 1060px;
    }
}
