.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 60px;
}

.sectionTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--darkblue-color);
    gap: 5px;
}

.sectionTitulo img {
    user-select: none;
    pointer-events: none;
    width: 110px;
}

.sectionTitulo h1 {
    font-size: 28px;
}

.sectionTitulo h2 {
    font-size: 20px;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 355px;
    padding: 40px 0px;
    gap: 20px;
}

.sectionContenido p {
    color: var(--darkblue-color);
}

.sectionContenido a {
    text-decoration: none;
    color: var(--orange-color);
}

@media (min-width: 576px) {
    .sectionContenido {
        text-align: justify;
        width: 550px;
    }
}

@media (min-width: 768px) {
    .sectionContenido {
        width: 700px;
        gap: 30px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding-top: 150px;
        padding-bottom: 80px;
    }

    .sectionTitulo img {
        width: 170px;
    }

    .sectionTitulo h1 {
        font-size: 42px;
    }

    .sectionTitulo h2 {
        font-size: 26px;
    }

    .sectionContenido {
        width: 900px;
    }

    .sectionContenido p {
        font-size: 18px;
    }
}

@media (min-width: 1400px) {
    .sectionTitulo img {
        width: 210px;
    }

    .sectionTitulo h1 {
        font-size: 52px;
    }

    .sectionTitulo h2 {
        font-size: 32px;
    }

    .sectionContenido {
        width: 1200px;
    }

    .sectionContenido p {
        font-size: 20px;
    }
}
