.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--darkblue-color);
    padding: 50px 0;
}

.sectionContenido {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 360px;
}

.dobleWrap {
    overflow: hidden;
    width: 240px;
    height: 120px;
}

.singleWrap {
    overflow: hidden;
    line-height: 1.1;
    width: 120px;
    height: 120px;
}

.cont1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 100px;
}

.cont1 img {
    width: 150px;
}

.cont2 {
    background-image: url('../../assets/images/img-section-5-1.png');
    background-repeat: no-repeat;
    background-size: auto 120px;
    background-position: right bottom;
}

.cont3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.cont3 img {
    width: 110px;
    margin-bottom: 20px;
}

.cont4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 50%;
}

.cont4 img {
    width: 90px;
    margin-top: 10px;
}

.cont5 {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--gren-color);
    color: var(--white-color);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.cont5 p {
    margin-left: 5px;
    font-size: 13px;
}

.cont6 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--blue-color);
    color: var(--white-color);
}

.cont6 p {
    font-size: 13px;
}

.cont7 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 100px;
}

.cont7 img {
    height: 100px;
}

.cont8 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: var(--orange-color);
    color: var(--white-color);
}

.cont8 p {
    font-size: 13px;
}

.cont9 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: var(--purple-color);
    color: var(--white-color);
}

.cont9 p {
    font-size: 13px;
}

.cont10 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 50%;
}

.cont10 img {
    width: 85px;
    margin-bottom: 10px;
}

.cont11 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: var(--yellow-color);
    color: var(--darkblue-color);
}

.cont11 p {
    font-size: 13px;
}

.cont12 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gren-color);
}

.cont12 img {
    width: 100px;
    margin-top: 20px;
}

.cont13 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 50%;
}

.cont13 img {
    width: 85px;
}

@media (min-width: 768px) {
    .sectionContenido {
        width: 600px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding: 80px 0;
    }

    .sectionContenido {
        width: 1000px;
    }

    .dobleWrap {
        width: 380px;
        height: 190px;
    }

    .singleWrap {
        width: 190px;
        height: 190px;
    }

    /* CONT 1 */
    .cont1 img {
        width: 250px;
        transition: transform 0.4s ease;
    }
    .cont1:hover img {
        transform: scale(1.08);
    }

    /* CONT 2 */
    .cont2 {
        background-size: auto 190px;
        transition: background-size 0.4s ease;
    }
    .cont2:hover {
        background-size: auto 200px;
    }

    /* CONT 3 */
    .cont3 img {
        width: 160px;
        transition: transform 0.4s ease;
    }
    .cont3:hover img {
        transform: scale(1.07);
    }

    /* CONT 4 */
    .cont4 img {
        width: 140px;
        transition: transform 0.4s ease;
    }
    .cont4:hover img {
        transform: scale(1.07);
    }

    /* CONT 5 */
    .cont5 p {
        margin-left: 15px;
        font-size: 16px;
        transition: font-size 0.3s ease;
    }
    .cont5:hover p {
        font-size: 18px;
    }

    /* CONT 6 */
    .cont6 p {
        font-size: 16px;
        transition: font-size 0.3s ease;
    }
    .cont6:hover p {
        font-size: 18px;
    }

    /* CONT 7 */
    .cont7 img {
        height: 160px;
        transition: transform 0.4s ease;
    }
    .cont7:hover img {
        transform: scale(1.07);
    }

    /* CONT 8 */
    .cont8 p {
        font-size: 16px;
        transition: font-size 0.3s ease;
    }
    .cont8:hover p {
        font-size: 18px;
    }

    /* CONT 9 */
    .cont9 p {
        font-size: 16px;
        transition: font-size 0.3s ease;
    }
    .cont9:hover p {
        font-size: 18px;
    }

    /* CONT 10 */
    .cont10 img {
        width: 133px;
        transition: transform 0.4s ease;
    }
    .cont10:hover img {
        transform: scale(1.07);
    }

    /* CONT 11 */
    .cont11 p {
        font-size: 16px;
        transition: font-size 0.3s ease;
    }
    .cont11:hover p {
        font-size: 18px;
    }

    /* CONT 12 */
    .cont12 img {
        width: 170px;
        margin-top: 25px;
        transition: transform 0.4s ease;
    }
    .cont12:hover img {
        transform: scale(1.07);
    }

    /* CONT 13 */
    .cont13 img {
        width: 120px;
        transition: transform 0.4s ease;
    }
    .cont13:hover img {
        transform: scale(1.07);
    }
}

@media (min-width: 1700px) {
    .sectionContenido {
        width: 1275px;
    }

    .dobleWrap {
        width: 510px;
        height: 255px;
    }

    .singleWrap {
        width: 255px;
        height: 255px;
    }

    .cont1 {
        border-radius: 125px;
    }

    .cont1 img {
        width: 350px;
    }

    .cont2 {
        background-size: auto 255px;
    }

    .cont2:hover {
        background-size: auto 265px;
    }

    .cont3 img {
        width: 220px;
    }

    .cont4 img {
        width: 180px;
        margin-top: 15px;
    }

    .cont5 p {
        font-size: 20px;
        margin-left: 25px;
    }

    .cont5:hover p {
        font-size: 22px;
    }

    .cont6 p {
        font-size: 20px;
    }

    .cont6:hover p {
        font-size: 22px;
    }

    .cont7 {
        border-radius: 125px;
    }

    .cont7 img {
        height: 230px;
    }

    .cont8 p {
        font-size: 20px;
    }

    .cont8:hover p {
        font-size: 22px;
    }

    .cont9 p {
        font-size: 20px;
    }

    .cont9:hover p {
        font-size: 22px;
    }

    .cont10 img {
        width: 175px;
    }

    .cont11 p {
        font-size: 20px;
    }

    .cont11:hover p {
        font-size: 22px;
    }

    .cont12 img {
        width: 220px;
        margin-top: 35px;
    }

    .cont13 img {
        width: 150px;
    }
}
