.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    padding: 0 20px;
    padding-bottom: 20px;
}

.sectionTitulo {
    user-select: none;
    text-align: center;
    color: var(--darkblue-color);
    line-height: 1.2;
    font-size: 16px;
    margin-bottom: 60px;
    width: 350px;
}

.sectionTitulo h2 {
    font-size: 16px;
}

@media (min-width: 1200px) {
    .sectionTitulo {
        margin-bottom: 80px;
        width: 450px;
    }

    .sectionTitulo h2 {
        font-size: 20px;
    }
}

@media (min-width: 1400px) {
    .sectionTitulo {
        width: 500px;
    }

    .sectionTitulo h2 {
        font-size: 22px;
    }
}

@media (min-width: 1700px) {
    .sectionTitulo {
        width: 650px;
    }

    .sectionTitulo h2 {
        font-size: 28px;
    }
}
