@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.sectionContainer {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--blue-color);
    padding-top: 40px;
    padding-bottom: 60px;
    gap: 20px;
}

.sectionContainer header h2 {
    color: var(--white-color);
    width: 360px;
    font-size: 18px;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.track {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: max-content;
    animation-name: scroll;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.comentario {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: var(--white-color);
    gap: 20px;
    padding: 0 20px;
    padding-top: 30px;
    margin: 0 10px;
    width: 350px;
    height: 360px;
}

.comentarioPersona {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.comentarioPersona img {
    border-radius: 50%;
    width: 100px;
}

.comentarioDatos {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--darkblue-color);
}

.comentarioDatos h3 {
    line-height: 1.1;
    font-size: 18px;
}

.comentarioDatos h4 {
    line-height: 1.1;
    font-size: 16px;
}

.comentario p {
    color: var(--darkblue-color);
    line-height: 1.2;
    font-size: 16px;
}

@media (min-width: 768px) {
    .sectionContainer header h2 {
        width: 640px;
        font-size: 22px;
    }
}

@media (min-width: 768px) {
    .sectionContainer header h2 {
        width: 760px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding-top: 60px;
        padding-bottom: 80px;
        gap: 20px;
    }

    .sectionContainer header h2 {
        width: 950px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer header h2 {
        font-size: 28px;
    }

    .comentario {
        padding-top: 50px;
        width: 420px;
        height: 400px;
    }

    .comentarioPersona {
        gap: 20px;
    }

    .comentarioPersona img {
        width: 120px;
    }

    .comentarioDatos h3 {
        font-size: 22px;
    }

    .comentarioDatos h4 {
        font-size: 20px;
    }

    .comentario p {
        font-size: 18px;
    }
}

@media (min-width: 1700px) {
    .sectionContainer header h2 {
        width: 1250px;
    }
}
