.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    padding: 0 20px;
    padding-bottom: 40px;
}

.sectionTitulo {
    user-select: none;
    text-align: center;
    color: var(--darkblue-color);
    line-height: 1.2;
    margin-bottom: 30px;
    width: 357px;
}

.sectionTitulo h2 {
    font-size: 16px;
}

@media (min-width: 768px) {
    .sectionTitulo {
        width: 401px;
    }

    .sectionTitulo h2 {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding-bottom: 80px;
    }
    .sectionTitulo {
        width: 489px;
    }

    .sectionTitulo h2 {
        font-size: 22px;
    }
}

@media (min-width: 1400px) {
    .sectionTitulo {
        width: 527px;
    }

    .sectionTitulo h2 {
        font-size: 24px;
    }
}

@media (min-width: 1700px) {
    .sectionTitulo {
        width: 658px;
    }

    .sectionTitulo h2 {
        font-size: 30px;
    }
}
