.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 80px;
    gap: 20px;
}

.sectionContainer header h1 {
    color: var(--darkblue-color);
    font-size: 42px;
    width: 320px;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 320px;
    padding-bottom: 40px;
    gap: 40px;
}

.faqItem {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.faqItem h3 {
    font-size: 18px;
}

.faqHighlight {
    background-color: var(--darkblue-color);
    color: var(--white-color);
    padding: 5px;
    display: inline;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.faqRespuesta {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.faqRespuesta p,
.faqRespuesta li {
    font-size: 16px;
    color: var(--darkblue-color);
}

.faqRespuesta ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 15px;
    gap: 5px;
}

.faqRespuesta a {
    text-decoration: none;
    color: var(--orange-color);
}

@media (min-width: 576px) {
    .sectionContainer header h1,
    .sectionContenido {
        width: 510px;
    }
}

@media (min-width: 768px) {
    .sectionContainer header h1,
    .sectionContenido {
        width: 700px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding-top: 120px;
        padding-bottom: 100px;
    }

    .sectionContainer header h1 {
        width: 1060px;
    }

    .sectionGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        width: 1060px;
        padding-bottom: 60px;
    }

    .colLeft,
    .colRight {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .colRight {
        gap: 39.5px;
    }

    .faqItem {
        width: 510px;
    }
}
