@keyframes float1 {
    0%,
    100% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-15px) rotate(2deg);
    }
}

@keyframes float2 {
    0%,
    100% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(10px) rotate(-2deg);
    }
}

@keyframes float3 {
    0%,
    100% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-20px) rotate(-18deg);
    }
}

@keyframes float4 {
    0%,
    100% {
        transform: translateY(0) rotate(10deg);
    }
    50% {
        transform: translateY(12px) rotate(12deg);
    }
}

.sectionContainer {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-color);
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--darkblue-color);
    width: 100%;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 40px;
}

.sectionContenido::before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 40px solid var(--blue-color);
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionText {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    width: 277px;
}

.sectionTitulo {
    color: var(--blue-color);
    line-height: 1;
    margin-bottom: 30px;
}

.sectionTitulo h2 {
    font-size: 46px;
}

.sectionText p {
    line-height: 1.2;
    font-size: 16px;
}

.sectionText p:first-of-type {
    margin-bottom: 20px;
}

.sectionForm {
    z-index: 1;
    width: 340px;
    margin: 40px 0;
}

.sectionImagenes img {
    position: absolute;
    max-width: 120px;
}

.sectionImagenes img:nth-child(1) {
    animation: float1 3.5s ease-in-out infinite;
    top: -20px;
    right: 10px;
}

.sectionImagenes img:nth-child(2) {
    animation: float2 3s ease-in-out infinite;
    top: 200px;
    left: -65px;
}

.sectionImagenes img:nth-child(3) {
    animation: float3 4.5s ease-in-out infinite;
    transform: rotate(0deg);
    bottom: -20px;
    left: -10px;
}

.sectionImagenes img:nth-child(4) {
    animation: float4 4s ease-in-out infinite;
    transform: rotate(10deg);
    bottom: -35px;
    right: 20px;
}

@media (min-width: 768px) {
    .sectionContenido {
        padding-top: 100px;
        padding-bottom: 20px;
    }

    .contenido {
        flex-direction: row;
        align-items: start;
        gap: 20px;
    }

    .sectionContenido::before {
        border-left: 80px solid transparent;
        border-right: 80px solid transparent;
        border-top: 50px solid var(--blue-color);
    }

    .sectionText {
        width: 277px;
    }

    .sectionTitulo {
        margin-bottom: 30px;
    }

    .sectionTitulo h2 {
        font-size: 46px;
    }

    .sectionText p {
        font-size: 16px;
    }

    .sectionText p:first-of-type {
        margin-bottom: 20px;
    }

    .sectionForm {
        width: 340px;
        margin: 0px 0;
    }
}

@media (min-width: 1200px) {
    .sectionContenido {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .contenido {
        gap: 50px;
    }

    .sectionTitulo {
        margin-bottom: 35px;
    }

    .sectionText p:first-of-type {
        margin-bottom: 25px;
    }

    .sectionForm {
        width: 620px;
    }

    .sectionImagenes img {
        max-width: 200px;
    }

    .sectionImagenes img:nth-child(1) {
        top: -40px;
        right: 10%;
    }

    .sectionImagenes img:nth-child(2) {
        top: 200px;
        left: -85px;
    }

    .sectionImagenes img:nth-child(3) {
        bottom: -30px;
        left: 20%;
    }

    .sectionImagenes img:nth-child(4) {
        bottom: -61px;
        right: 10%;
    }
}

@media (min-width: 1700px) {
    .sectionContenido {
        padding-top: 110px;
        padding-bottom: 40px;
    }

    .contenido {
        gap: 220px;
    }

    .sectionContenido::before {
        border-left: 110px solid transparent;
        border-right: 110px solid transparent;
        border-top: 60px solid var(--blue-color);
    }

    .sectionText {
        width: 346px;
    }

    .sectionTitulo {
        margin-bottom: 35px;
    }

    .sectionTitulo h2 {
        font-size: 58px;
    }

    .sectionText p {
        font-size: 20px;
    }

    .sectionText p:first-of-type {
        margin-bottom: 25px;
    }

    .sectionForm {
        width: 700px;
    }

    .sectionImagenes img {
        max-width: 250px;
    }

    .sectionImagenes img:nth-child(1) {
        top: -55px;
        right: 10%;
    }

    .sectionImagenes img:nth-child(2) {
        top: 200px;
        left: -100px;
    }

    .sectionImagenes img:nth-child(3) {
        bottom: -40px;
        left: 30%;
    }

    .sectionImagenes img:nth-child(4) {
        bottom: -80px;
        right: 10%;
    }
}
