.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: var(--darkblue-color);
    padding: 170px 20px;
}

.sectionTitulo {
    position: relative;
    z-index: 2;
    text-align: center;
    user-select: none;
    color: var(--white-color);
    margin-bottom: 50px;
}

.sectionTitulo h2 {
    font-size: 20px;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
}

.sectionContenido h3 {
    color: var(--white-color);
    text-align: center;
    line-height: 1.2;
    font-size: 20px;
}

.inlineLogo {
    height: 1.1em;
    vertical-align: middle;
    margin: 0 0.25em;
}

.palabra1 {
    color: var(--yellow-color);
    text-decoration: underline;
}

.palabra2 {
    color: var(--orange-color);
    text-decoration: underline;
}

.palabra3 {
    color: var(--gren-color);
    text-decoration: underline;
}

@media (min-width: 576px) {
    .sectionTitulo h2 {
        font-size: 22px;
    }

    .sectionContenido {
        width: 480px;
    }

    .sectionContenido h3 {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    .sectionContainer {
        padding: 140px 20px;
    }

    .sectionTitulo {
        margin-bottom: 70px;
    }

    .sectionTitulo h2 {
        font-size: 28px;
    }

    .sectionContenido {
        width: 560px;
    }

    .sectionContenido h3 {
        font-size: 30px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        padding: 180px 20px;
    }

    .sectionTitulo h2 {
        font-size: 30px;
    }

    .sectionContenido {
        width: 620px;
    }

    .sectionContenido h3 {
        font-size: 32px;
    }
}

@media (min-width: 1700px) {
    .sectionContainer {
        padding: 200px 20px;
    }

    .sectionTitulo h2 {
        font-size: 38px;
    }

    .sectionContenido {
        width: 740px;
    }

    .sectionContenido h3 {
        font-size: 40px;
    }
}
