.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: var(--darkblue-color);
    padding: 160px 20px;
    padding-top: 150px;
}

.sectionTitulo {
    position: relative;
    z-index: 2;
    text-align: center;
    user-select: none;
    color: var(--white-color);
    margin-bottom: 50px;
}

.sectionTitulo h2 {
    font-size: 22px;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionContenido h3 {
    user-select: none;
    color: var(--white-color);
    text-align: center;
    line-height: 1.2;
    font-size: 18px;
}

.inlineLogo {
    height: 1.1em;
    vertical-align: middle;
    margin: 0 0.25em;
}

.palabra1 {
    color: var(--yellow-color);
    text-decoration: underline;
}

.palabra2 {
    color: var(--orange-color);
    text-decoration: underline;
}

.palabra3 {
    color: var(--gren-color);
    text-decoration: underline;
}

@media (min-width: 768px) {
    .sectionContenido h3 {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    .sectionContainer {
        padding: 140px 20px;
    }

    .sectionTitulo {
        margin-bottom: 70px;
    }

    .sectionTitulo h2 {
        font-size: 28px;
    }

    .sectionContenido h3 {
        font-size: 30px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        gap: 90px;
        padding: 0px 0px;
        padding-top: 140px;
        padding-bottom: 230px;
    }

    .sectionContenido h3 {
        position: absolute;
    }

    .palabra1,
    .palabra2,
    .palabra3 {
        transition: transform 0.25s ease;
        will-change: transform;
        transform-origin: bottom;
    }

    .inlineLogo:hover {
        height: 36px;
    }

    .palabra1:hover,
    .palabra2:hover,
    .palabra3:hover {
        font-size: 34px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        gap: 95px;
        padding: 0px 0px;
        padding-top: 180px;
        padding-bottom: 280px;
    }

    .sectionTitulo h2 {
        font-size: 30px;
    }
}

@media (min-width: 1700px) {
    .sectionContainer {
        gap: 120px;
        padding: 0px 0px;
        padding-top: 200px;
        padding-bottom: 320px;
    }

    .sectionTitulo h2 {
        font-size: 38px;
    }

    .sectionContenido h3 {
        font-size: 40px;
    }

    .inlineLogo:hover {
        height: 50px;
    }

    .palabra1:hover,
    .palabra2:hover,
    .palabra3:hover {
        font-size: 46px;
    }
}
