.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    padding: 0 20px;
    padding-bottom: 20px;
}

.sectionTitulo {
    user-select: none;
    text-align: center;
    color: var(--darkblue-color);
    line-height: 1.2;
    font-size: 16px;
    margin-bottom: 60px;
    width: 338px;
}

@media (min-width: 576px) {
    .sectionTitulo {
        width: 515px;
    }
}

@media (min-width: 1200px) {
    .sectionTitulo {
        font-size: 20px;
        margin-bottom: 80px;
        width: 644px;
    }
}

@media (min-width: 1400px) {
    .sectionTitulo {
        font-size: 22px;
        width: 708px;
    }
}

@media (min-width: 1700px) {
    .sectionTitulo {
        font-size: 28px;
        width: 902px;
    }
}
