@import url('../src/styles/global/fuentes.css');
@import url('../src/styles/global/variables.css');
@import url('../src/styles/global/navbar.css');
@import url('../src/styles/global/cargando.css');
@import url('../src/styles/global/stack.css');
@import url('../src/styles/global/inputTel.css');
@import url('../src/styles/global/inputSelect.css');
@import url('../src/styles/global/footer.css');
@import url('../src/styles/global/botones.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: var(--white-color);
}

html {
    scrollbar-gutter: stable;
}

/* Hace que Chrome/Edge NO apliquen el fondo amarillo/blanco del autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--white-color) inset !important;
    /* color del background en el input */
    box-shadow: 0 0 0px 1000px var(--white-color) inset !important;
    /* color del texto en el input */
    -webkit-text-fill-color: var(--darkblue-color) !important;
    /* color del | en el input */
    caret-color: var(--darkblue-color) !important;
    transition: background-color 9999s ease-in-out 0s !important;
}
